@model RegGadget.Models.PublicEvent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PublicEvent</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EventName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EventVenue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EventVenue)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EventHost)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EventHost)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EventUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EventUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.RegUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.RegUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NORUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NORUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SIUrl)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SIUrl)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LateRegDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LateRegDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LateRegPenaltyType)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LateRegPenaltyType)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LateRegPenaltyValue)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LateRegPenaltyValue)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
